{% extends 'layout/index.html.twig' %}

{% block title %}Gestion Utilisateurs
{% endblock %}

{% block content %}

	<div class="card-header d-flex justify-content-between align-items-center py-2 px-4 mt-3" style="background: #cccccc3d;">
		<div>
			<i class="fas fa-table me-1"></i>
			Employeurs
		</div>
		<div>
			<button type="button" class="btn btn-dark rounded-0 px-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Créer Un Nouveau Employeur</button>
		</div>
	</div>
	<div class="datatable-container">
		<table class="datatable-table" id="datatablesSimple">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Prenom</th>
					<th>Username</th>
					<th>Roles</th>
					<th>Position</th>
					<th>Adresse</th>
					<th>Tel1</th>
					<th>Tel2</th>
					<th>DateCreation</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody id="user_body">
				{% include('gestion_users/partials/list.html.twig') %}
			</tbody>
		</table>
	</div>

	<div class="modal fade-in-right" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog m-0">
			<div class="modal-content rounded-0">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Création d'un Employeur :
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="userForm">
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="prenom" placeholder="Prénom" class="form-control rounded-0">
							</div>
							<div class="col">
								<input type="text" id="nom" placeholder="Nom" class="form-control rounded-0"/>
							</div>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="username" placeholder="Username" class="form-control"/>
						</div>
						<div class="form-group mb-4">
							<input type="password" id="password" placeholder="Password" class="form-control rounded-0"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="position" placeholder="Position" class="form-control rounded-0"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="adresse" placeholder="Adresse" class="form-control rounded-0"/>
						</div>
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="Tel1" placeholder="Telephone 1" class="form-control rounded-0">
							</div>
							<div class="col">
								<input type="text" id="Tel2" placeholder="Telephone 2" class="form-control rounded-0"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" id="submitUser" class="btn btn-dark rounded-0">Save changes</button>
					<button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>


	<div class="modal fade-in-right" id="EditModal" tabindex="-1" aria-labelledby="EditModal" aria-hidden="true">
		<div class="modal-dialog m-0">
			<div class="modal-content rounded-0">
				<div class="modal-header">
					<h5 class="modal-title" id="EditModaltitle">Modification d'un Employeur :
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="editUserForm">
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="edit_prenom" placeholder="Prénom" class="form-control rounded-0">
							</div>
							<div class="col">
								<input type="text" id="edit_nom" placeholder="Nom" class="form-control rounded-0"/>
							</div>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="edit_username" placeholder="Username" class="form-control"/>
						</div>
						<div class="form-group mb-4">
							<input type="password" id="edit_password" placeholder="Password" class="form-control rounded-0"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="edit_position" placeholder="Position" class="form-control rounded-0"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="edit_adresse" placeholder="Adresse" class="form-control rounded-0"/>
						</div>
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="edit_Tel1" placeholder="Telephone 1" class="form-control rounded-0">
							</div>
							<div class="col">
								<input type="text" id="edit_Tel2" placeholder="Telephone 2" class="form-control rounded-0"/>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" id="submitUser" class="btn btn-dark rounded-0">Save changes</button>
					<button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('addUser') }}
		{{ encore_entry_script_tags('glindex') }}
	{% endblock %}
{% endblock %}
