{% extends 'layout/index.html.twig' %}

{% block title %}Gestion Utilisateurs
{% endblock %}

{% block content %}

	<div class="card-header d-flex justify-content-between align-items-center py-3 px-4 mt-4" style="background: #cccccc3d;">
		<div>
			<i class="fas fa-table me-1"></i>
			Employeurs
		</div>
		<div>
			<button type="button" class="btn btn-dark rounded-0 px-4" data-bs-toggle="modal" data-bs-target="#exampleModal">Créer Un Nouveau Employeur</button>
		</div>
	</div>
	<div class="datatable-container">
		<table class="datatable-table" id="datatablesSimple">
			<thead>
				<tr>
					<th class="text-center">ID</th>
					<th class="text-center">Nom</th>
					<th class="text-center">Prenom</th>
					<th class="text-center">Username</th>
					<th class="text-center">Username</th>
					<th class="text-center">Role</th>
					<th class="text-center">Adresse</th>
					<th class="text-center">Tel1</th>
					<th class="text-center">Tel2</th>
					<th class="text-center">Date De Création</th>
					<th class="text-center">Op</th>
				</tr>
			</thead>
			<tbody
				id="user_body">
			</tbody>
		</table>
	</div>

	<div class="modal fade-in-right" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog m-0">
			<div class="modal-content rounded-0">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Création d'un Employeur :
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="userForm">
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="prenom" placeholder="Prénom" class="form-control rounded-0">
							</div>
							<div class="col">
								<input type="text" id="nom" placeholder="Nom" class="form-control rounded-0"/>
							</div>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="username" placeholder="Username" class="form-control rounded-0"/>
						</div>
						<div class="form-group mb-4">
							<input type="password" id="password" placeholder="Password" class="form-control rounded-0"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="position" placeholder="Position" class="form-control rounded-0"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="adresse" placeholder="Adresse" class="form-control rounded-0"/>
						</div>
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="Tel1" placeholder="Telephone 1" class="form-control rounded-0">
							</div>
							<div class="col">
								<input type="text" id="Tel2" placeholder="Telephone 2" class="form-control rounded-0"/>
							</div>
						</div>
						<div class="row mb-4">
							<label class="form-label">Rôles</label><br>
					            <label>
                                    <input type="radio" name="role" id="create_role_user" value="ROLE_USER"> User
                                 </label><br>
                                 <label>
                                     <input type="radio" name="role" id="create_role_admin" value="ROLE_ADMIN"> Admin
                                 </label><br>
                                 <label>
                                     <input type="radio" name="role" id="create_role_superadmin" value="ROLE_SUPER_ADMIN"> Super Admin
                                 </label><br>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-dark rounded-0" id="CreateButton">Enregistrer</button>
					<button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade-in-right" id="EditModal" tabindex="-1" aria-labelledby="EditModal" aria-hidden="true">
		<div class="modal-dialog m-0">
			<div class="modal-content rounded-0">
				<div class="modal-header">
					<h5 class="modal-title" id="EditModaltitle">Modification d'un Employeur :
					</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<form id="editUserForm">
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="edit_prenom" placeholder="Prénom" class="form-control rounded-0" name="prenom">
							</div>
							<div class="col">
								<input type="text" id="edit_nom" placeholder="Nom" class="form-control rounded-0" name="nom"/>
							</div>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="edit_username" placeholder="Username" class="form-control rounded-0" name="username"/>
						</div>
						<div class="form-group mb-4">
							<input type="password" id="edit_password" placeholder="Password" class="form-control rounded-0" name="password"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="edit_position" placeholder="Position" class="form-control rounded-0" name="position"/>
						</div>
						<div class="form-group mb-4">
							<input type="text" id="edit_adresse" placeholder="Adresse" class="form-control rounded-0" name="adresse"/>
						</div>
						<div class="row mb-4">
							<div class="col">
								<input type="text" id="edit_Tel1" placeholder="Telephone 1" class="form-control rounded-0" name="Tel1">
							</div>
							<div class="col">
								<input type="text" id="edit_Tel2" placeholder="Telephone 2" class="form-control rounded-0" name="Tel2"/>
							</div>
						</div>
						<div class="row mb-4">
							<label class="form-label">Rôles</label><br>
                               <label>
                                    <input type="radio" name="role" id="edit_role_user" value="ROLE_USER"> User
                               </label><br>
                               <label>
                                   <input type="radio" name="role" id="edit_role_admin" value="ROLE_ADMIN"> Admin
                               </label><br>
                               <label>
                                   <input type="radio" name="role" id="edit_role_superadmin" value="ROLE_SUPER_ADMIN"> Super Admin
                               </label><br>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" id="submitEditBtn" class="btn btn-dark rounded-0">Enregister</button>
					<button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Fermer</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade-in-right" id="showUserModal" tabindex="-1" aria-labelledby="showUserModalLabel" aria-hidden="true">
		<div class="modal-dialog" style="margin:0;">
			<div class="modal-content rounded-0">
				<div class="modal-header">
					<h5 class="modal-title" id="showUserModalLabel">Détails Utilisateur</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="px-4 my-2">
						<strong class="px-4">Nom:
						</strong>
						<span id="user_nom"></span>
					</div>
					<div class="px-4 my-2">
						<strong class="px-4">Prenom:
						</strong>
						<span id="user_prenom"></span>
					</div>
					<div class="px-4 my-2">
						<strong class="px-4">Username:
						</strong>
						<span id="user_username"></span>
					</div>
					<div class="px-4 my-2">
						<strong class="px-4">Position:
						</strong>
						<span id="user_position"></span>
					</div>
					<div class="px-4 my-2">
						<strong class="px-4">Roles:
						</strong>
						<span id="user_roles"></span>
					</div>
					<div class="px-4 my-2">
						<strong class="px-4">Adresse:
						</strong>
						<span id="user_adresse"></span>
					</div>
					<div class="px-4 my-2">
						<strong class="px-4">Tel1:
						</strong>
						<span id="user_Tel1"></span>
					</div>
					<div class="px-4 my-2">
						<strong class="px-4">Tel2:
						</strong>
						<span id="user_Tel2"></span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary rounded-0" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-dark rounded-0" id="editbtn">Modifier</button>
				</div>
			</div>
		</div>
	</div>


	{% block javascripts %}
		{{ parent() }}
		{{ encore_entry_script_tags('User') }}
	{% endblock %}
{% endblock %}
