{% extends 'base.html.twig' %}
{% block body %}
		{{include('components/navbar.html.twig')}}
		<div id="layoutSidenav">
			{{include('components/sidebar.html.twig')}}
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						{% block content %}{% endblock %}
					</div>
				</main>
			</div>
		</div>
	{% block javascripts %}
		{{parent()}}
		{{ encore_entry_script_tags('scripts') }}
	{% endblock %}
{% endblock %}
